@import url(/css/main.css);

body {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1230px;
    padding: 0px 30px;
    margin: 0% auto;
}

/* header */

.header {
    padding-top: 46px;
    background-color: #f1f1f1;
}

.logo {
    line-height: 100%;
    position: relative;
    padding-top: 3px;
    padding-right: 12px;
    font-weight: 700;
    font-size: 32px;
    color: black;
}

/* nav */


.nav_list {
    display: flex;
    column-gap: 50px;

    font-weight: 500;
    font-size: 14px;
}

.nav_but {
    display: none;
}

.nav_link {
    color: black;
}

.nav_link.active {
    color: #606060;
}

/* nav end */

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.logo::after {
    right: 0px;
    bottom: 0px;
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 100%;
}

/* header content */

.header_row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header_content p {
    font-size: 14px;
    line-height: 2;
}

.header_content {
    margin-top: 124px;
    max-width: 500px;
}


.heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 44px;
}

.ser {
    padding: 90px 0;
}

.ser_row {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 60px;
}

.ser_card {
    flex: 1 1 0;
    min-width: 315px;
}

.ser_card_img {
    margin-bottom: 30px;
}

.ser_card_title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    
}

.ser_card p {
    line-height: 2;
}

/* partfolio */

.portfolio {
    padding: 90px 0;
    background-color: #f1f1f1;
}

.project + .project {
    margin-top: 90px;
}

.portfolio_title {
    text-align: center;
    margin-bottom: 70px;
}

.title_1 {
    font-size: 34px;
    font-weight: 600;
}

.project {
    text-align: center;
}

.project_img {
    margin-bottom: 40px;
}

.project_title {
    font-size: 18px;
    color: black;
}

.project_title a {
    color: black;
    text-decoration: underline;
}

/* contacts */

.contacts {
padding: 90px 0;
text-align: center;
}

.contacts_title {
    margin-bottom: 40px;
}


.contacts_content {
    font-size: 18px;
    margin-bottom: 40px;
}

.contacts_button {
    margin-bottom: 80px;
}

.button {
    display: inline-block;
    padding: 7px 22px;
    background-color: black;
    border-radius: 35px;
    color: #f1f1f1;
    font-size: 18px;
}

.contacts_soc {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    margin-bottom: 40px;
}

.contacts_footer {
    color: #828282;
}